# Resources required by the sample browser and most samples.
[Essential]
#Zip=/home/nicolas/ogre-1.12.2/Samples/Media/packs/SdkTrays.zip
#FileSystem=/home/nicolas/ogre-1.12.2/Samples/Media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
#FileSystem=/home/mis-pr/Acquisitions/Amiens3D/triangles/forOgre/ZONEA/
FileSystem=/home/guillaume/Acquisitions/Amiens3D/triangles/ZONEA_SANSSOL
#FileSystem=/home/mis-pr/Acquisitions/Amiens3D/triangles/forOgre/ZONED/
#FileSystem=/home/mis-pr/Acquisitions/IPDS/IPDS-PAVIN3D_Ogre3D/
#FileSystem=/home/mis-pr/Acquisitions/Amiens3D/CorPdJLuz
[General]
#FileSystem=/home/nicolas/ogre-1.12.2/Samples/Media
