<launch>
  <!-- ROS BAG -->
  <rosparam param="/use_sim_time">true</rosparam>
  <node pkg="rosbag" type="play" name="play" output="screen" required="true"
    args="/home/yufan/Data/Dataset/250815/cheezit/x+-50_side.bag -r 1.0 --clock">
  </node>

  <!-- Publish stereo camera calibration -->
  <include file="$(find esvo_time_surface)/launch/rosbag_launcher/bobbin/prophesee_calib_info.launch" />
</launch>
