<launch>
  <!-- Publish prophesee camera calibration on predefined ROS topics -->
  <node name="prophesee_omni_info_pub" pkg="rostopic" type="rostopic"
    args="pub /prophesee/camera_info sensor_msgs/CameraInfo
    '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: ''},
    height: 480, width: 640, distortion_model: 'plumb_bob',
    D: [-0.06633639547, 0.03400850625, 0, 0.],
    K: [580.706754, 0, 310.3476634, 0, 580.5467001, 215.2908539, 0, 0, 1],
    R: [1, 0, 0, 0, 1, 0, 0, 0, 1],
    P: [580.706754, 0, 310.3476634, 0, 0, 580.5467001, 215.2908539, 0, 0, 0, 1, 0],
    binning_x: 0, binning_y: 0,
    roi: {x_offset: 0, y_offset: 0, height: 0, width: 0, do_rectify: false} }' -r 1000" />
</launch>
